/* Ben Olson
* Date: 01/11/2021
*
* This is the main styling sheet for the HCDE 439 website. It includes 
* the root elements and blocks for visual elements and structural
* properties.
*/

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500&display=swap');

@font-face {
  font-family: "Uni Sans Regular";
  src: url('UniSansRegular.otf');
}

* {
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  outline: none;
  transition: 0.3s all ease;
  color: var(--black);
  background-color: none;
  &::before, &::after {
    box-sizing: inherit;
  }
}

:root {
  --ratio: 1.3;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --pad: 5vw;
  --white: #F8F6F2;
  --black: #000;
  --purple: #332A86;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  outline: none;
}

.clip {
  overflow: hidden;
}

.main {
  > * {
    padding: 0 var(--pad);
  }
  &_post {
    background: var(--black);
    min-height: 100vh;
  }
}

.title {
  max-width: 780px;
  margin: 10vh 0;
}

.font-size\:s-1 {font-size: var(--s-1);}
.font-size\:s1 {font-size: var(--s1);}
.font-size\:s2 {font-size: var(--s2);}
.font-size\:s3 {font-size: var(--s3);}
.font-size\:s4 {font-size: var(--s4);}
.font-size\:s5 {font-size: var(--s5);}

.bold, strong {
  font-weight: 500;
}

.ul * {
  list-style: none;
}

.uni-sans {
  font-family: "Uni Sans Regular", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: calc(1ch / 4);
}

.link {
  text-decoration: none;
  position: relative;
  &:hover {
    cursor: pointer;
    &::after {
      width: 100%;
    }
  }
  &::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    background-color: var(--black);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  &_inactive {
    color: rgba(0, 0, 0, 0.24);
    cursor: not-allowed;
  }
}

.invert {
  mix-blend-mode: exclusion !important;
  filter: invert(1) !important;
}

* + * {
  margin-top: var(--s0);
}

.flow > * + * {
  margin-top: var(--s1);
}

.tight > * + * {
  margin-top: var(--s-3);
}

body {
  margin: 0;
}

.cover-image {
  position: absolute;
  margin-top: 0;
  right: 300px;
  bottom: -100px;
  mix-blend-mode: exclusion !important;
  filter: invert(1) !important;
  -webkit-filter: invert(1) !important;
}

.write-up {
  max-width: 860px;
  margin: 10vh auto 20vh auto;
  position: static;
  * {
    color: inherit;
    line-height: 1.5em;
  }
  .image {
    width: 100%;
    &_cover {
      width: 120%;
      margin: 0 0 5vh -10%;
    }
  }
  header {
    text-align: center;
  }
  pre {
    font-family: 'Courier New', Courier, monospace;
  }
  ul * + * {
    margin-top: var(--s-5);
  }
}

figure {
  margin: 0;
}

.footer {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--s4);
}

.footer * {
  margin: 0;
}

.section {
  border-bottom: solid 10px var(--white);
  border-top: solid 10px var(--white);
  padding: var(--s2) 0;
  margin-top: var(--s4);
  margin-bottom: var(--s4);
}

.bg-span {
  padding: var(--s3) calc(50vw - 50%) !important;
  margin: var(--s2) calc(50% - 50vw) !important;
  width: 100vw;
}

.header {
  margin-top: var(--s3);
  font-weight: 500;
}

.nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: var(--s2);
  padding-bottom: var(--s2);
  margin-top: 0;
}

.nav > * {
  margin: 0 var(--s2) 0 0;
}

.nav > :first-child {
  margin-right: auto;
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

figure svg > * {
  fill: var(--white);
}

pre {
  overflow-x: scroll;
}

.bg-primary {background-color: var(--white);}
.bg-secondary {background-color: var(--black);}
.bg-tertiary {background-color: var(--purple);}

.fg-primary {color: var(--white);}
.fg-secondary {color: var(--black);}
.fg-tertiary {color: var(--purple);}

@media only screen and (max-width: 1200px) {
  :root {
    --ratio: 1.1;
  }
  .cover-image {
    display: none;
  }
}

